/* Footer Styling */
.footer {
    padding-top: 20px;
    background-color: rgb(240,240,245);
    /* padding: 20px 0; */
    text-align: left;
    font-family: Arial, sans-serif;
    border-top: 1.5px solid black;
    padding-bottom: 20px;
      
  }
  
  /* Container for footer */
  .footer-container {
    padding-left: 120px;
    width: 100%;
    margin: 0 auto;
  }
  .footer-first-heading{
    display: flex;
    align-items: center;
  }
  /* Footer Heading */
  .footer-heading h3 {
    font-size: 28px;
    color: rgba(2, 6, 12, 0.75);
    margin-bottom: 20px;
    font-family: 'Proxima Nova', Arial, 'Helvetica Neue', sans-serif;
  }
  .footer-first-heading img {
    width: 220px;
    height: auto;
    padding-left: 20px;
    /* padding-right: 20px; */
    margin-top: 10px;
  }
  
  
  /* Flexbox for footer columns */
  .footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* Each footer column */
  .footer-column {
    width: 18%;
    padding: 10px;
    margin: 10px 0;
  }

  .footer-folumn img{
    width: 280px;
    height: auto;
  }
  
  /* Title in each footer column */
  .footer-column-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  /* Footer Links */
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: rgb(112, 111, 111);
    font-size: 15px;
    transition: color 0.3s ease;
    font-weight: 600;
  }
  
  .footer-links a:hover {
    color: #ff4e1b;
  }
  
  /* Footer Logo */
  .footer-logo {
    width: 120px;
    margin-bottom: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-columns {
      flex-direction: column;
      align-items: center;
    }
    .footer-column {
      width: 100%;
      text-align: center;
    }
  }
  