<!-- Footer Section -->
<footer class="footer">
    <div class="footer-container">
      <!-- Footer Heading -->
      <div class="footer-first-heading">
        <div class="footer-heading">
            <h3>For better experience, download the swiggy app now</h3>
          </div>
          <a href="https://play.google.com/store/apps/details?id=in.swiggy.android&referrer=utm_source%3Dswiggy%26utm_medium%3Dheader" target="_blank">
            <img src="assets/google-play.jpg" alt="Download Swiggy App" />
          </a>
          <a href="https://apps.apple.com/in/app/swiggy-food-instamart-dineout/id989540920?referrer=utm_source%3Dswiggy%26utm_medium%3Dhomepage" target="_blank">
            <img src="assets/app_store.jpg" alt="Download Swiggy App" />
          </a>

      </div>
  
      <!-- Footer Columns -->
      <div class="footer-columns">
        
        <!-- First Column: Logo -->
        <div class="footer-column">
          <img src="assets/swiggy-footer.jpg" alt="Swiggy Logo" class="footer-logo" />
        </div>
  
        <!-- Second Column: Company Links -->
        <div class="footer-column">
          <h4 class="footer-column-title">Company</h4>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Swiggy Corporate</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Swiggy One</a></li>
            <li><a href="#">Swiggy Instamart</a></li>
            <li><a href="#">Swiggy Dineout</a></li>
            <li><a href="#">Swiggy Genie</a></li>
          </ul>
        </div>
  
        <!-- Third Column: Contact Us -->
        <div class="footer-column">
          <h4 class="footer-column-title">Contact Us</h4>
          <ul class="footer-links">
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Partner with Us</a></li>
            <li><a href="#">Ride with Us</a></li>
          </ul>
        </div>
  
        <!-- Fourth Column: Available in -->
        <div class="footer-column">
          <h4 class="footer-column-title">Available in:</h4>
          <ul class="footer-links">
            <li><a href="#">Bangalore</a></li>
            <li><a href="#">Gurgaon</a></li>
            <li><a href="#">Hyderabad</a></li>
            <li><a href="#">Delhi</a></li>
            <li><a href="#">Mumbai</a></li>
            <li><a href="#">Pune</a></li>
          </ul>
        </div>
  
        <!-- Fifth Column: Life in Swiggy -->
        <div class="footer-column">
          <h4 class="footer-column-title">Life in Swiggy:</h4>
          <ul class="footer-links">
            <li><a href="#">Explore with Swiggy</a></li>
            <li><a href="#">Swiggy News</a></li>
            <li><a href="#">Snackables</a></li>
          </ul>
        </div>
  
      </div>
    </div>
  </footer>
  