<div class="best-places-container">
    <h2 class="section-heading">Best Cuisines Near Me</h2>
    <div class="card-chain">
        <div class="card">
            <p class="card-text">Chinese Restraunt Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Soutn Indian Restraunt Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Kerala Restraunt Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Indori Restraunt Near Me</p>
          </div>
    </div>

    <!-- second chain  -->
    <div class="card-chain">
        <div class="card">
            <p class="card-text">Italian Restraunt Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Punjabi Restraunt Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Seafood Restraunt Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Bengali Restraunt Near Me</p>
          </div>
    </div>
  </div>
  