<div class="header">
    <div class="logo">
      <img src="assets/logo.jpg" alt="Logo" />
    </div>
    <div class="nav-buttons">
      <div class="dropdown">
        <button class="dropdown-btn">
          <span class="dropdown-text">Other</span>
          <span class="dropdown-icon"><i class="fas fa-chevron-down"></i></span>
        </button>
        <div class="dropdown-content">
          <a href="#">Sarai, Bhagalpur</a>
          <a href="#">Sri Rameshwaram Extension, Bhagalpur</a>
          <a href="#">Mayur Vihar, Delhi</a>
        </div>
      </div>
      <button class="nav-btn">
        <img src="assets/corporate_logo.jpg" alt="Swiggy Corporate Icon" class="nav-icon" />
        Swiggy Corporate
      </button>
      <button class="nav-btn">
        <img src="assets/search_logo.jpg" alt="Search Icon" class="nav-icon" />
        Search
      </button>
      <button class="nav-btn">
        <img src="assets/offer_logo.jpg" alt="Offers Icon" class="nav-icon" />
        Offers
      </button>
      <button class="nav-btn">
        <img src="assets/help_logo.jpg" alt="Help Icon" class="nav-icon" />
        Help
      </button>
      <button class="nav-btn">
        <img src="assets/signin_logo.jpg" alt="Sign In Icon" class="nav-icon" />
        Sign In
      </button>
      <button class="nav-btn">
        <img src="assets/cart_logo.jpg" alt="Cart Icon" class="nav-icon" />
        Cart
      </button>
    </div>
  </div>
  