<app-header></app-header>
<div class="restaurant-menu-container">
  <h3>View Dishes</h3>
  
  <div class="card" *ngFor="let dish of dishes; let i = index">
    <div class="card-leading">
      <h3>{{ dish.name }}</h3>
      <p>₹{{ dish.price }}</p>
      <p>{{ dish.discount }}</p>
      <p>{{ dish.description }}</p>
    </div>
    <div class="card-trailing">
      <img [src]="dish.image" alt="Dish Image">
      
      <!-- Display "ADD" button if quantity is 0 -->
      <div *ngIf="dish.quantity === 0; else quantityControl">
        <button class="add-button" (click)="addToCart(i)">ADD</button>
      </div>
      
      <!-- Display quantity control if quantity is greater than 0 -->
      <ng-template #quantityControl>
        <div class="quantity-container">
          <button class="quantity-button" (click)="decreaseQuantity(i)">-</button>
          <span class="quantity-number">{{ dish.quantity }}</span>
          <button class="quantity-button" (click)="increaseQuantity(i)">+</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="spacer"></div>
  <app-footer></app-footer>
</div>
