<div class="best-places-container">
    <h2 class="section-heading">Best places to eat across cities</h2>
    <div class="card-chain">
        <div class="card">
            <p class="card-text">Best Restraunts in Banglore</p>
          </div>
          <div class="card">
            <p class="card-text">Best Restraunts in Delhi</p>
          </div>
          <div class="card">
            <p class="card-text">Best Restraunts in Haridwar</p>
          </div>
          <div class="card">
            <p class="card-text">Best Restraunts in Bhopal</p>
          </div>
    </div>

    <!-- second chain  -->
    <div class="card-chain">
        <div class="card">
            <p class="card-text">Best Restraunts in Banglore</p>
          </div>
          <div class="card">
            <p class="card-text">Best Restraunts in Delhi</p>
          </div>
          <div class="card">
            <p class="card-text">Best Restraunts in Haridwar</p>
          </div>
          <div class="card">
            <p class="card-text">Best Restraunts in Bhopal</p>
          </div>
    </div>
  </div>
  