<div class="best-places-container">
    <h2 class="section-heading">Explore Every Restraunts Near Me</h2>
    <div class="card-chain">
        <div class="card">
            <p class="card-text">Explore Restraunts Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Explore Top Rated Restraunts Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Explore Most Visited Restraunt Near Me</p>
          </div>
          <div class="card">
            <p class="card-text">Explore Top Value Restraunt Near Me</p>
          </div>
          
    </div>
    <div class="spacer"></div>
  </div>
  