.best-places-container {
    background-color: white;
    padding: 20px 0;
}

.section-heading {
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: 'Proxima Nova', Arial, 'Helvetica Neue', sans-serif;
    text-align: left;
    padding-left: 120px;
}

.card-chain {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.card {
    width: 20vw;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 13px;
    border: 1px solid rgb(112, 111, 111);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0;
}
.card:hover{
    cursor: pointer;
}

.card-text {
    font-size: 16px;
    font-weight: 600;
    color: rgb(112, 111, 111);
    margin: 3px 5px;
}
.spacer{
    height: 10vw;
}
